.sidebar {
  position: fixed;
  width: 250px;
  background-color: #EDF4FA;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.sidebar.phone-ui {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #1e293b;
  color: white;
  height: 100vh;
  width: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.button-division {
  height: 100%;
  border-top-right-radius: 50px;
  background-color: #3d6db9;
  overflow-y: auto;
}

.button-division .selected {
  margin-left: 30px;
  color: #3d6db9;
  background-color: #EDF4FA !important;
  transition: margin-left 2s ease, background-color 0.3s ease;
}

.sidebar .logo {
  display: flex;
  align-items: center;
  color: #3d6db9;
  justify-content: center;
  margin-bottom: 20px;
}

.sidebar .logo img {
  width: 50px;
  height: 50px;
}

.sidebar .user-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #3d6db9;
  border-radius: 10px;
}

.sidebar .user-info .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar .user-info .details p {
  margin: 0;
  font-size: 14px;
}

.sidebar .user-info .details p:first-child {
  font-weight: bold;
}

.sidebar .menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar .menu li {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.sidebar .menu li img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.sidebar .menu li:hover {
  background-color: #1E3A8A;
}

.sidebar .menu li.selected {
  background-color: #1E3A8A;
  font-weight: bold;
}

.sidebar {
  overflow-y: auto;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s;
}

.menu-item.selected {
  background-color: #3b82f6;
  border-radius: 10px;
}

.menu-item .icon {
  width: 24px;
  height: 24px;
}

.menu-item span {
  font-size: 12px;
  margin-top: 5px;
}

.menu-item:hover {
  background-color: #334155;
  border-radius: 10px;
}